{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Vehicle management prototype</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>Direct links to separate pages/steps, to be joined up at some point</p>

	<h2 class="heading-large">Pages</h2>

	<ul>
		<li>
			<a href="type-of-transfer">Type of transfer</a>
		</li>

		<li>
			<a href="02-trade-trade">Trade to trade : not required message</a>
		</li>

		<li>
			<a href="vehicle-details">Enter vehicle details</a>
		</li>

		<li>
			<a href="vehicle-details-confirm">Confirm vehicle details</a>
		</li>

		<li>
			<a href="transfer-date">Transfer date</a>
		</li>

		<li>
			<a href="new-keeper-details">New keeper details</a>
		</li>


	</ul>

	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
