{{<layout}}

{{$pageTitle}}
	Report the transfer of a vehicle
{{/pageTitle}}


{{$content}}

<main id="content" role="main">

<p class="back-link"><a href="">Back</a></p>

  		<h2 class="heading-medium">When was the vehicle sold?</h2>

		<form class="form">


  	 <div class="form-group">    
      <label class="form-label block-label" for="prev-trade"> 
        <input type="radio" id="prev-trade" name="prev">Today
      </label>
      <label class="form-label block-label" for="prev-non-trade"> 
        <input type="radio" id="prev-non-trade" name="prev">Before today
      </label>
  		</div> 

  			 <div class="form-group">
      <a href="vehicle-details" class="button">Continue</a>
    </div> 

		</form>
	

</main>

{{/content}}

{{/layout}}
