{{<layout}}

{{$pageTitle}}
	Report the transfer of a vehicle
{{/pageTitle}}


{{$content}}

<main id="content" role="main">

<p class="back-link"><a href="type-of-transfer">Back</a></p>

<h1 class="heading-xlarge">Alpha Romeo Spider</h1>

<p class="font-medium">
<!--Registration number: -->
<span class="reg">ABC 123</span>
</p>

<div class="grid-row">
	<div class="column-half">
		<form class="form">

  <h2 class="heading-medium">Is this the right vehicle?</h2>

  <div class="form-group inline">    
      <label class="form-label block-label" for="prev-trade"> 
        <input type="radio" id="prev-trade" name="prev"> Yes
      </label>
      <label class="form-label block-label" for="prev-non-trade-business"> 
        <input type="radio" id="prev-non-trade-business" name="prev"> No
      </label>
  </div>

	 <div class="form-group">
      <a href="new-keeper-details" class="button">Continue</a>
    </div>
		</form>
	</div>
</div>
	

</main>

{{/content}}

{{/layout}}
