{{<layout}}

{{$pageTitle}}
	Report the transfer of a vehicle
{{/pageTitle}}


{{$content}}

<main id="content" role="main">

<p class="back-link"><a href="type-of-transfer">Back</a></p>

<h1 class="heading-xlarge">About the vehicle</h1>

<div class="grid-row">
	<div class="column-half">
		<form class="form">

		    <div class="form-group">
		      <label class="form-label-bold" for="vrn">Vehicle registration number</label>

		      <p class="form-hint">This is the number on the number plates of the vehicle.</p>
		      <input type="text" class="form-control" id="vrn">
		    </div>

		    <div class="form-group">
		      <label class="form-label-bold" for="full-name">V5C reference number</label>
		      <p class="form-hint">
		      	This is the 11 digit number on the front of the latest version of the V5C document for the vehicle.
		      </p>
		      <input type="text" class="form-control" id="vrn">
		    </div>

	 <div class="form-group">
      <a href="new-keeper-details" class="button">Continue</a>
    </div>
		</form>
	</div>
</div>
	

</main>

{{/content}}

{{/layout}}
